@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .monokai-bg-white {
    background-color: #f8f8f8;
  }
  .monokai-bg-gray {
    background-color: #f2e7ea;
  }
  .monokai-bg-black-1 {
    background-color: #918181;
  }
  .monokai-bg-black-2 {
    background-color: #ad9999;
  }
  .monokai-bg-red {
    background-color: #ffc2df;
  }
  .monokai-bg-green {
    background-color: #79e8b3;
  }
  .monokai-bg-blue {
    background-color: #99e2ff;
  }
  .monokai-bg-orange {
    background-color: #ffcc99;
  }
  .monokai-bg-yellow {
    background-color: #ffe98a;
  }
  .monokai-bg-purple {
    background-color: #a4a4f4;
  }
  .monokai-bg-pink {
    background-color: #ffa4d4;
  }
  .monokai-white {
    color: #f8f8f8;
  }
  .monokai-gray {
    color: #f2e7ea;
  }
  .monokai-black-1 {
    color: #918181;
  }
  .monokai-black-2 {
    color: #ad9999;
  }
  .monokai-red {
    color: #ffc2df;
  }
  .monokai-green {
    color: #79e8b3;
  }
  .monokai-blue {
    color: #99e2ff;
  }
  .monokai-orange {
    color: #ffcc99;
  }
  .monokai-yellow {
    color: #ffe98a;
  }
  .monokai-purple {
    color: #a4a4f4;
  }
  .monokai-pink {
    color: #ffa4d4;
  }
}

body {
  background-color: #918181;
  color: #f5f5f5;
}
